.card{
   background-color: transparent;
   border:transparent;
}
.container {
    margin-top: 1.2rem;
    
  }
  
  .container input,
  .container ::-webkit-input-placeholder {
    color: darkblue !important;
    font-weight: 500;
  }
  